#second-card p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

#second-card {
    padding: 0;
    margin: 0;
}

footer {
    position: absolute; 
    bottom: 0.8rem; 
    right: 0.5rem;
    height: 1rem; 
    width: 100%;	
    text-align: right; 
    padding-right: 0.2rem; 
    font-size:xx-small; 
    color:lightslategray
}